.Main-hero{
    width: auto;
    height: 700px;
    background: linear-gradient(90deg, #000000, hsl(0, 100%, 99%));
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.Hero-text{
    font-family: poppins;
    color: aliceblue;
}
    #text1{
        font-size: 30px;
        font-weight: 400;
        margin: 0;
    }
    #text2{
        font-size: 15px;
        font-weight: 200;
        margin: 0;
        font-family: poppins;
    }
    .Hero-text button{
        margin-top: 10px;
        width: 120px;
        height: 30px;
        background-color: #cccaca;
        color: rgb(18, 18, 19);
        border-radius: 20px;
        border: none;
        cursor: pointer;
        font-size: 10px;
        transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
    }
    .Hero-text button:hover{
        background-color: #d62020d3;
        color: rgb(250, 255, 245);
        transform: translateY(-2px);
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
    }



.Hero-model img{
    width: 430px;
}

@media (max-width: 1024px) {
    
    .Main-hero{
    width: auto;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    }
    .Hero-text{
    font-family: poppins;
    color: aliceblue;
    }
    #text1{
        font-size: 28px;
        font-weight: 400;
        margin: 0;
    }
    #text2{
        font-size: 13px;
        font-weight: 200;
        margin: 0;
        margin-bottom: 5px;
    }
    .Hero-text button{
        margin-top: 10px;
        width: 100px;
        height: 25px;
        font-size: 9px;
    }

    .Hero-model img{
    width: 350px;
    }

}

@media(max-width:900px){
    .Main-hero{
    width: auto;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    }
    .Hero-text{
    font-family: poppins;
    color: aliceblue;
    }
    #text1{
        font-size: 25px;
        font-weight: 400;
        margin: 0;
    }
    #text2{
        font-size: 13px;
        font-weight: 200;
        margin: 0;
        margin-bottom: 5px;
    }
    .Hero-text button{
        margin-top: 10px;
        width: 100px;
        height: 25px;
        font-size: 9px;
    }

    .Hero-model img{
    width: 300px;
    }
}

@media (max-width: 786px){
    .Main-hero{
    width: auto;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    }
    .Hero-text{
    font-family: poppins;
    color: aliceblue;
    margin-left: 50px;
    }
    #text1{
        font-size: 20px;
        font-weight: 400;
        margin: 0;
    }
    #text2{
        font-size: 11px;
        font-weight: 200;
        margin: 0;
        margin-bottom: 5px;
    }
    .Hero-text button{
        margin-top: 10px;
        width: 80px;
        height: 20px;
        font-size: 8px;
    }

    .Hero-model img{
    width: 300px;
    }
}

@media (max-width: 480px){
    .Main-hero{
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column-reverse;
    }
    .Hero-text{
    font-family: poppins;
    color: aliceblue;
    margin-left: 50px;
    }
    #text1{
        font-size: 20px;
        font-weight: 400;
        margin: 0;
        color: rgb(235, 232, 232);
    }
    #text2{
        font-size: 11px;
        font-weight: 200;
        margin: 0;
        margin-bottom: 5px;
    }
    .Hero-text button{
        margin-top: 10px;
        width: 80px;
        height: 20px;
        font-size: 8px;
    }

    .Hero-model img{
    width: 230px;
    }
}